html {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

body {
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: blueViolet;
}

/*
 * Styles for the score-panel
 */
.score-panel {
    text-align: center;
    width: 505px;
    margin-bottom: 0;
}

.score-panel .score-text {
    float: left;
    color: brown;
    font-size: 1.5em;
}

.score-panel .lives {
    float: right;
}

.score-panel .lives li {
    list-style: none;
    display: inline-block;
}

.score-panel .lives li .absent{
    display: none;
}

/*
 * Styles for the modals
 */
/* Modal implemented from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/
.modal, .modal-btn {
    display: none; /* Hidden by default */
    padding-top: 100px; /* Location of the box */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-close {
    color: #aaa;
}

.win-box {
    background-color: lightgreen;
    display: block;
}

.fail-box {
    background-color: #f97e72;
    display: block;
}

.btn-how-to-play {
    background-color: lightyellow;
    width: 100%;
    height: 100%;
    display: block;
}

#btn {
    background-color: lightyellow;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
